# shellcheck disable=all

watch_file ./modules/flake-parts/actions.nix
watch_file ./modules/flake-parts/dev-shell.nix
watch_file ./modules/flake-parts/overlays.nix
watch_file ./modules/flake-parts/pre-commit.nix
watch_file ./modules/flake-parts/treefmt.nix

use flake
