use flake

watch_file ./nix/deploy.nix
watch_file ./nix/hosts.nix
watch_file ./nix/images.nix
watch_file ./nix/join-drvs.nix
watch_file ./nix/mk-host.nix
watch_file ./nix/outputs.nix
watch_file ./nix/shell.nix

eval "$shellHook"
