name: ci
on:
  push:
    branches:
      - master
      - try
  pull_request:
jobs:
  lints:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          lfs: false
      - uses: ./.github/actions/setup-nix
        with:
          cachix-auth-token: ${{ secrets.CACHIX_AUTH_TOKEN }}
      - name: parse
        run: nix-instantiate --json --parse ./**/*.nix
      - name: lints
        run: |
          nix build -L --keep-going \
            .\#checks.x86_64-linux.pre-commit-check

  get-hosts:
    runs-on: ubuntu-latest
    outputs:
      hosts: ${{ steps.get-hosts.outputs.hosts }}
      systems: ${{ steps.get-hosts.outputs.systems }}
    steps:
      - uses: actions/checkout@v3
        with:
          lfs: false
      - uses: ./.github/actions/setup-nix
        with:
          cachix: false
      - id: get-hosts
        run: |
          TMP="$(mktemp -d)"
          nix eval --json -f ./nix/hosts.nix all | jq -c '
            to_entries
            | map({name: .key} + .value)
            | map_values(
                if .hostPlatform  == "x86_64-linux" then . + {ghSystem: "ubuntu-latest"}
                elif .hostPlatform == "aarch64-linux" then . + {ghSystem: "ubuntu-latest"}
                elif .hostPlatform == "x86_64-darwin" then . + {ghSystem: "macos-latest"}
                else . + {ghSystem: null} end)
            | map(select(.ghSystem != null))
          ' > "$TMP/hosts.json"

          # shellcheck disable=SC2002
          cat "$TMP/hosts.json" | jq -c '
            map({hostPlatform, ghSystem})
            | unique_by(.hostPlatform)
            | sort_by(.ghSystem)
          ' > "$TMP/systems.json"

          echo "hosts=$(cat "$TMP/hosts.json")" >> "$GITHUB_OUTPUT"
          echo "systems=$(cat "$TMP/systems.json")" >> "$GITHUB_OUTPUT"

  build-nix:
    name: build-nix (${{ matrix.system.hostPlatform }})
    runs-on: ${{ matrix.system.ghSystem }}
    needs: get-hosts
    strategy:
      fail-fast: false
      matrix:
        system: ${{ fromJson(needs.get-hosts.outputs.systems) }}
    steps:
      - uses: actions/checkout@v3
        with:
          lfs: false
      - uses: ./.github/actions/setup-nix
        with:
          aarch64-builder: ${{ matrix.system.hostPlatform == 'aarch64-linux' }}
          aarch64-builder-key: ${{ secrets.AARCH64_BUILDER_KEY }}
          cachix-auth-token: ${{ secrets.CACHIX_AUTH_TOKEN }}
      - name: build-nix
        run: |
          nix run nixpkgs\#nix-build-uncached -- \
            --keep-going \
            -A "packages.${{ matrix.system.hostPlatform }}.nixBinaryTarball"

  build-shell:
    name: build-shell (${{ matrix.system.hostPlatform }})
    runs-on: ${{ matrix.system.ghSystem }}
    needs: get-hosts
    strategy:
      fail-fast: false
      matrix:
        system: ${{ fromJson(needs.get-hosts.outputs.systems) }}
    steps:
      - uses: actions/checkout@v3
        with:
          lfs: false
      - uses: ./.github/actions/setup-nix
        with:
          aarch64-builder: ${{ matrix.system.hostPlatform == 'aarch64-linux' }}
          aarch64-builder-key: ${{ secrets.AARCH64_BUILDER_KEY }}
          cachix-auth-token: ${{ secrets.CACHIX_AUTH_TOKEN }}
      - name: build-shell
        run: |
          nix run nixpkgs\#nix-build-uncached -- \
            --keep-going \
            -A "devShells.${{ matrix.system.hostPlatform }}.default.inputDerivation"

  build-host:
    name: build-${{ matrix.host.name }}
    runs-on: ${{ matrix.host.ghSystem }}
    needs: get-hosts
    strategy:
      fail-fast: false
      matrix:
        host: ${{ fromJson(needs.get-hosts.outputs.hosts) }}
    steps:
      - uses: actions/checkout@v3
        with:
          lfs: false
      - uses: ./.github/actions/setup-nix
        with:
          aarch64-builder: ${{ matrix.host.hostPlatform == 'aarch64-linux' }}
          aarch64-builder-key: ${{ secrets.AARCH64_BUILDER_KEY }}
          cachix-auth-token: ${{ secrets.CACHIX_AUTH_TOKEN }}
      - name: build-host
        run: |
          nix run nixpkgs#nix-build-uncached -- \
            --keep-going \
            -A packages.${{ matrix.host.hostPlatform }}.${{ matrix.host.name }}

  check:
    runs-on: ubuntu-latest
    needs: [ lints, build-host, build-shell ]
    if: always()
    steps:
      - uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}
