concurrency:
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}
  group: ci-${{ github.head_ref || github.ref_name }}
jobs:
  build:
    name: ${{ matrix.attrs.name }} (${{ matrix.attrs.hostPlatform }})
    runs-on: ${{ matrix.attrs.runsOn }}
    steps:
    - uses: actions/checkout@v6
    - uses: DeterminateSystems/nix-installer-action@v21
      with:
        extra-conf: |-
          accept-flake-config = true
          always-allow-substitutes = true
          builders-use-substitutes = true
          max-jobs = auto
    - uses: actions/cache@v4
      with:
        key: nix-eval-${{ runner.os }}-${{ runner.arch }}-${{ hashFiles('flake.lock')
          }}
        path: ~/.cache/nix
        restore-keys: nix-eval-${{ runner.os }}-${{ runner.arch }}-
    - uses: cachix/cachix-action@v16
      with:
        authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
        extraPullNames: nix-community
        name: nix-config
    - name: nix-fast-build
      run: nix run 'git+file:.#nix-fast-build' -- --no-nom --skip-cached --retries=3
        --option accept-flake-config true --flake='git+file:.#${{ matrix.attrs.attr
        }}'
    strategy:
      fail-fast: false
      matrix:
        attrs:
        - attr: nixosConfigurations.comte.config.system.build.toplevel
          hostPlatform: x86_64-linux
          name: comte
          runsOn: ubuntu-24.04
        - attr: nixosConfigurations.hegel.config.system.build.toplevel
          hostPlatform: x86_64-linux
          name: hegel
          runsOn: ubuntu-24.04
        - attr: nixosConfigurations.jung.config.system.build.toplevel
          hostPlatform: x86_64-linux
          name: jung
          runsOn: ubuntu-24.04
        - attr: nixosConfigurations.plato.config.system.build.toplevel
          hostPlatform: x86_64-linux
          name: plato
          runsOn: ubuntu-24.04
        - attr: nixosConfigurations.spinoza.config.system.build.toplevel
          hostPlatform: x86_64-linux
          name: spinoza
          runsOn: ubuntu-24.04
        - attr: homeConfigurations.goethe.activationPackage
          hostPlatform: x86_64-linux
          name: goethe
          runsOn: ubuntu-24.04
        - attr: homeConfigurations.hilbert.activationPackage
          hostPlatform: x86_64-linux
          name: hilbert
          runsOn: ubuntu-24.04
        - attr: homeConfigurations.popper.activationPackage
          hostPlatform: aarch64-linux
          name: popper
          runsOn: ubuntu-22.04-arm
    timeout-minutes: 60
  build-darwin-host:
    if: '1'
    name: ${{ matrix.attrs.name }} (${{ matrix.attrs.hostPlatform }})
    needs:
    - build-linux-builder
    runs-on: ${{ matrix.attrs.runsOn }}
    steps:
    - uses: actions/checkout@v6
    - uses: DeterminateSystems/nix-installer-action@v21
      with:
        extra-conf: |-
          accept-flake-config = true
          always-allow-substitutes = true
          builders-use-substitutes = true
          max-jobs = auto
    - uses: actions/cache@v4
      with:
        key: nix-eval-${{ runner.os }}-${{ runner.arch }}-${{ hashFiles('flake.lock')
          }}
        path: ~/.cache/nix
        restore-keys: nix-eval-${{ runner.os }}-${{ runner.arch }}-
    - uses: cachix/cachix-action@v16
      with:
        authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
        extraPullNames: nix-community
        name: nix-config
    - name: nix-fast-build
      run: nix run 'git+file:.#nix-fast-build' -- --no-nom --skip-cached --retries=3
        --option accept-flake-config true --flake='git+file:.#${{ matrix.attrs.attr
        }}'
    strategy:
      fail-fast: false
      matrix:
        attrs:
        - attr: darwinConfigurations.poincare.config.system.build.toplevel
          equivalentLinuxPlatform: aarch64-linux
          equivalentLinuxRunner: ubuntu-22.04-arm
          hostPlatform: aarch64-darwin
          linuxBuilderAttr: darwinConfigurations.poincare.config.nix.linux-builder.package.nixosConfig.system.build.toplevel
          name: poincare
          runsOn: macos-15
    timeout-minutes: 60
  build-linux-builder:
    if: '1'
    name: linux-builder for ${{ matrix.attrs.name }} (${{ matrix.attrs.equivalentLinuxPlatform
      }})
    runs-on: ${{ matrix.attrs.equivalentLinuxRunner }}
    steps:
    - uses: actions/checkout@v6
    - uses: DeterminateSystems/nix-installer-action@v21
      with:
        extra-conf: |-
          accept-flake-config = true
          always-allow-substitutes = true
          builders-use-substitutes = true
          max-jobs = auto
    - uses: actions/cache@v4
      with:
        key: nix-eval-${{ runner.os }}-${{ runner.arch }}-${{ hashFiles('flake.lock')
          }}
        path: ~/.cache/nix
        restore-keys: nix-eval-${{ runner.os }}-${{ runner.arch }}-
    - uses: cachix/cachix-action@v16
      with:
        authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
        extraPullNames: nix-community
        name: nix-config
    - name: nix-fast-build
      run: nix run 'git+file:.#nix-fast-build' -- --no-nom --skip-cached --retries=3
        --option accept-flake-config true --flake='git+file:.#${{ matrix.attrs.linuxBuilderAttr
        }}'
    strategy:
      fail-fast: false
      matrix:
        attrs:
        - attr: darwinConfigurations.poincare.config.system.build.toplevel
          equivalentLinuxPlatform: aarch64-linux
          equivalentLinuxRunner: ubuntu-22.04-arm
          hostPlatform: aarch64-darwin
          linuxBuilderAttr: darwinConfigurations.poincare.config.nix.linux-builder.package.nixosConfig.system.build.toplevel
          name: poincare
          runsOn: macos-15
    timeout-minutes: 60
  check:
    if: always()
    needs:
    - flake-check
    - build
    - build-linux-builder
    - build-darwin-host
    runs-on: ubuntu-24.04
    steps:
    - uses: re-actors/alls-green@release/v1
      with:
        allowed-skips: build-linux-builder, build-darwin-host
        jobs: ${{ toJSON(needs) }}
    timeout-minutes: 60
  flake-check:
    name: flake check (${{ matrix.systems.platform }})
    runs-on: ${{ matrix.systems.os }}
    steps:
    - uses: actions/checkout@v6
    - uses: DeterminateSystems/nix-installer-action@v21
      with:
        extra-conf: |-
          accept-flake-config = true
          always-allow-substitutes = true
          builders-use-substitutes = true
          max-jobs = auto
    - uses: actions/cache@v4
      with:
        key: nix-eval-${{ runner.os }}-${{ runner.arch }}-${{ hashFiles('flake.lock')
          }}
        path: ~/.cache/nix
        restore-keys: nix-eval-${{ runner.os }}-${{ runner.arch }}-
    - uses: cachix/cachix-action@v16
      with:
        authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
        extraPullNames: nix-community
        name: nix-config
    - name: nix flake check
      run: nix flake check 'git+file:.'
    - name: nix flake show
      run: nix flake show 'git+file:.'
    strategy:
      matrix:
        systems:
        - os: ubuntu-24.04
          platform: x86_64-linux
        - os: macos-15
          platform: aarch64-darwin
        - os: ubuntu-22.04-arm
          platform: aarch64-linux
    timeout-minutes: 60
name: ci
'on':
  pull_request: {}
  push:
    branches:
    - master
    - try
  workflow_dispatch: {}
permissions: {}
