jobs:
  regenerate:
    if: github.actor == 'renovate[bot]' || github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      with:
        ref: ${{ github.event.inputs.branch || github.head_ref }}
        token: ${{ secrets.PAT }}
    - uses: DeterminateSystems/nix-installer-action@c5a866b6ab867e88becbed4467b93592bce69f8a
      with:
        extra-conf: |-
          accept-flake-config = true
          always-allow-substitutes = true
          builders-use-substitutes = true
          max-jobs = auto
    - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830
      with:
        key: nix-eval-${{ runner.os }}-${{ runner.arch }}-${{ hashFiles('flake.lock')
          }}
        path: ~/.cache/nix
        restore-keys: nix-eval-${{ runner.os }}-${{ runner.arch }}-
    - uses: cachix/cachix-action@0fc020193b5a1fa3ac4575aa3a7d3aa6a35435ad
      with:
        authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
        extraPullNames: nix-community
        name: nix-config
    - name: Regenerate workflows
      run: nix run .#render-workflows
    - name: Amend commit with regenerated workflows
      run: |-
        git config user.name "hatesegfault"
        git config user.email "bernardo+hatesegfault@meurer.org"
        git add .github/workflows/
        git diff --staged --quiet || git commit --amend --no-edit
        git push --force-with-lease
    timeout-minutes: 60
name: regenerate-workflows
'on':
  pull_request:
    paths:
    - modules/flake-parts/actions.nix
    - flake.lock
  workflow_dispatch:
    inputs:
      branch:
        description: Branch to regenerate workflows on
        required: true
        type: string
permissions:
  contents: write
