name: update-flakes
on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

permissions: {}

jobs:
  update-flake-lock:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          persist-credentials: false

      - uses: DeterminateSystems/nix-installer-action@c5a866b6ab867e88becbed4467b93592bce69f8a # v21
        with:
          extra-conf: accept-flake-config = true

      - uses: DeterminateSystems/update-flake-lock@834c491b2ece4de0bbd00d85214bb5e83b4da5c6 # v28
        id: update
        with:
          commit-msg: "chore(flake): update inputs"
          git-author-email: bernardo+hatesegfault@meurer.org
          git-author-name: hatesegfault
          git-committer-email: bernardo+hatesegfault@meurer.org
          git-committer-name: hatesegfault
          pr-labels: dependencies,automated
          pr-title: "chore(flake): update inputs"
          token: ${{ secrets.PAT }}

      - uses: peter-evans/enable-pull-request-automerge@a660677d5469627102a1c1e11409dd063606628d # v3
        if: steps.update.outputs.pull-request-number != ''
        with:
          token: ${{ secrets.PAT }}
          pull-request-number: ${{ steps.update.outputs.pull-request-number }}
          merge-method: rebase
