name: update-flakes
on:
  schedule:
    - cron:  '* */6 * * *'
  workflow_dispatch:
jobs:
  update-flakes:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
        with:
          fetch-depth: 0
          repository: lovesegfault/nix-config
          token: ${{ secrets.PAT }}
      - uses: cachix/install-nix-action@v14
        with:
          install_url: https://nixos-nix-install-tests.cachix.org/serve/ipa0c64h689jb4ys6hxsky2r8xpld0hv/install
          install_options: '--tarball-url-prefix https://nixos-nix-install-tests.cachix.org/serve'
          extra_nix_config: experimental-features = nix-command flakes
      - uses: cachix/cachix-action@v10
        with:
          name: nix-config
          signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'
      - run: git config --global user.email "hatesegfault@protonmail.ch"
      - run: git config --global user.name "hatesegfault"
      - name: update-flakes
        run: nix flake update
      - uses: peter-evans/create-pull-request@v3
        id: cpr
        with:
          branch: flake-update
          commit-message: "chore(nix): update flake inputs"
          delete-branch: true
          title: "chore(nix): update flake inputs"
          token: ${{ secrets.PAT }}

      - uses: peter-evans/enable-pull-request-automerge@v1
        if: steps.cpr.outputs.pull-request-operation == 'created'
        with:
          token: ${{ secrets.PAT }}
          pull-request-number: ${{ steps.cpr.outputs.pull-request-number }}
          merge-method: rebase
