name: update-flakes
on:
  schedule:
    - cron:  '*/120 * * * *'
  workflow_dispatch:
jobs:
  get-flakes:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.get-flakes.outputs.matrix }}
    steps:
      - uses: actions/checkout@v3
        with:
          lfs: false
      - uses: ./.github/actions/setup-nix
        with:
          cachix: false
      - id: get-flakes
        run: |
          get_flake_inputs() {
            nix flake metadata --json \
              | jq -c '
                  .locks.nodes.root.inputs
                  | {flake: keys}'
          }

          echo "matrix=$(get_flake_inputs)" >> "$GITHUB_OUTPUT"
  update-flake:
    name: update-${{ matrix.flake }}
    runs-on: ubuntu-latest
    needs: get-flakes
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.get-flakes.outputs.matrix) }}
    steps:
      - uses: actions/checkout@v3
        with:
          lfs: false
      - uses: ./.github/actions/setup-nix
        with:
          cachix: false
          magic-cache: false
      - run: git config --global user.email "hatesegfault@protonmail.ch"
      - run: git config --global user.name "hatesegfault"
      - uses: cpcloud/flake-update-action@v1.0.4
        with:
          dependency: ${{ matrix.flake }}
          pull-request-token: ${{ secrets.PAT }}
          pull-request-author: hatesegfault <hatesegfault@protonmail.ch>
          delete-branch: true
          github-token: ${{ secrets.GITHUB_TOKEN }}
          pull-request-branch-prefix: update-
          automerge: true
