jobs:
  update-flake-lock:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      with:
        persist-credentials: false
    - uses: DeterminateSystems/nix-installer-action@c5a866b6ab867e88becbed4467b93592bce69f8a
      with:
        extra-conf: |-
          accept-flake-config = true
          always-allow-substitutes = true
          builders-use-substitutes = true
          max-jobs = auto
    - id: update
      uses: DeterminateSystems/update-flake-lock@834c491b2ece4de0bbd00d85214bb5e83b4da5c6
      with:
        commit-msg: 'chore(flake): update inputs'
        git-author-email: bernardo+hatesegfault@meurer.org
        git-author-name: hatesegfault
        git-committer-email: bernardo+hatesegfault@meurer.org
        git-committer-name: hatesegfault
        pr-labels: dependencies,automated
        pr-title: 'chore(flake): update inputs'
        token: ${{ secrets.PAT }}
    - if: steps.update.outputs.pull-request-number != ''
      uses: peter-evans/enable-pull-request-automerge@a660677d5469627102a1c1e11409dd063606628d
      with:
        merge-method: rebase
        pull-request-number: ${{ steps.update.outputs.pull-request-number }}
        token: ${{ secrets.PAT }}
    timeout-minutes: 60
name: update-flakes
'on':
  schedule:
  - cron: 0 0 * * *
  workflow_dispatch: {}
permissions:
  contents: write
  pull-requests: write
