name: update-flakes
on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

permissions: {}

jobs:
  update-flake-lock:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: DeterminateSystems/nix-installer-action@v21
        with:
          extra-conf: accept-flake-config = true

      - uses: DeterminateSystems/update-flake-lock@v28
        id: update
        with:
          token: ${{ secrets.PAT }}
          pr-title: "chore(flake): update inputs"
          pr-labels: dependencies,automated
          git-author-name: hatesegfault
          git-author-email: bernardo+hatesegfault@meurer.org

      - uses: peter-evans/enable-pull-request-automerge@v3
        if: steps.update.outputs.pull-request-number != ''
        with:
          token: ${{ secrets.PAT }}
          pull-request-number: ${{ steps.update.outputs.pull-request-number }}
          merge-method: rebase
